
.home {
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
     /* display: block; */
    //  grid-column: full-start / col-end 6;
    //  display: grid;
    //  grid-template-rows: 1fr min-content 6rem 1fr;
    //  grid-row-gap: 1.5rem;
    display: grid;
    height: 100vh;
    margin: 0 2rem;
    place-items: center center;
     > .content {
        h1 {
            font-size: 3rem;
            margin-top: -2em;
            margin-bottom: .5em;
        }
        p {
            font-size: 1.25rem;
        }
    }    
}