
nav {
    /* height: 100%; */
    background: teal;
    /* max-width: 200px;
    position: absolute; */

    & .show {
        display: block;
    }
    & .hide {
        display: none;
    }
    ul {
        margin: 0;
        padding: 2rem;
        list-style-type: none;
        li {
            margin-bottom: 2em;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 400px) {
    nav{
        display: block;
        // position: absolute;
        height: 100vh;
    }
}