@import './styles/styles.scss';

.App {
    height: 100vh;
    > .content {
        display: flex;
        height: 100vh;
        .sidebar {
            //
        }
        .main-view {
            flex: 1;
        }
    }
}
.sidebar {
    position: absolute;
    height: 100vh;
}

header {
    height: 8vh;
    .toggle-menu-button {
        display: none;
    }
} 

@media screen and (max-width: 450px) {
    header {
        .toggle-menu-button {
            display: block;
            position: absolute;
            font-size: 50px;
            left: 1rem;
        }
    }
}