.container {
    /* max-width: 120rem; */
    /* background: tomato; */
    height: 100vh;
    /* min-height: 50rem; */
}

/* .header {
    height: 8vh;
    background-color: palegreen;
} */

.content {
    display: flex;
}

.sidebar {
    height: 100vh;
    /* flex: 0 0 18%; */
}

.main-view {
    /* background-color: peachpuff; */
    flex: 1;
    /* or use width: 100%  */
}