@import './_settings.scss';

html, body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    // background-image: linear-gradient($sunset-yellow ,$sunset-orange);
    // margin: $sm-size;
}

ul {
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
} 



@media screen and (min-width: 760px) {
    h1 {
        font-size: 32px;
    }
}